:root,
:host {
    --md-sys-color-background: #101418;
    --md-sys-color-on-background: #e0e2e8;
    --md-sys-color-surface: #101418;
    --md-sys-color-surface-dim: #101418;
    --md-sys-color-surface-bright: #363a3e;
    --md-sys-color-surface-container-lowest: #0b0f12;
    --md-sys-color-surface-container-low: #181c20;
    --md-sys-color-surface-container: #1c2024;
    --md-sys-color-surface-container-high: #272a2e;
    --md-sys-color-surface-container-highest: #313539;
    --md-sys-color-on-surface: #e0e2e8;
    --md-sys-color-surface-variant: #404850;
    --md-sys-color-on-surface-variant: #bfc7d1;
    --md-sys-color-inverse-surface: #e0e2e8;
    --md-sys-color-inverse-on-surface: #2d3135;
    --md-sys-color-outline: #8a919b;
    --md-sys-color-outline-variant: #404850;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #92ccff;
    --md-sys-color-primary: #bbdeff;
    --md-sys-color-on-primary: #003351;
    --md-sys-color-primary-container: #64b8f8;
    --md-sys-color-on-primary-container: #002840;
    --md-sys-color-inverse-primary: #006397;
    --md-sys-color-secondary: #adcae6;
    --md-sys-color-on-secondary: #143349;
    --md-sys-color-secondary-container: #233f57;
    --md-sys-color-on-secondary-container: #b7d4f0;
    --md-sys-color-tertiary: #f6ceff;
    --md-sys-color-on-tertiary: #4c1662;
    --md-sys-color-tertiary-container: #d99bee;
    --md-sys-color-on-tertiary-container: #410757;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--md-sys-color-background);
    font-family: "Roboto", sans-serif;
}

main {
    position: relative;
    display: block;
    max-inline-size: 1280px;
    margin-inline: auto;
}

header {
    z-index: 999;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
}

.wrapper {
    display: flex;
    max-inline-size: 1280px;
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;
    overflow-y: hidden;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    inline-size: 100%;
    block-size: 100dvh;
    scroll-snap-align: center;
    flex: none;
}